#chart-area {

  #legend {
    overflow: visible; // necessary because of '1' width/height property
    background-color: transparent;
  
    ul {
    min-width: min-content;
    min-height: min-content;
    list-style: none;
    padding: .5rem 1rem;
    border: 1px solid grey;
    border-radius: .5rem;

    .row { 
      padding: .5rem 0;
      display: grid;
      grid-template-columns: 2rem auto;
      grid-column-gap: 1rem;
      height: 2rem;

      p {
        margin: 0;
        align-self: center;
        text-transform: capitalize;
      }

      div {
      border-radius: .5rem;
      }
    }
  }
}
}